In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('D:\\data.csv')

In [3]:
df.head()

,day_count_0_25,day_count_0_5,day_count_0_75,day_count_1_0,day_count_2_0,day_count_3_0,day_count_4_0,pop_count_0_25,pop_count_0_5,pop_count_0_75,...,restaurant_0_75,restaurant_1_0,restaurant_2_0,restaurant_3_0,restaurant_4_0,size,concept_type,city,region,target
0,590,2022,3720,6944,24673,48211,64642,564,2006,3565,...,3,3,6,8,8,286.8573,IL,riyadh,riyadh_region,4888254.998
1,427,1120,1949,3410,11167,20545,35977,250,907,1725,...,3,3,7,9,12,72.3200,FC,other,ḥail_province,2862160.623
2,532,2710,5176,10186,36727,68759,116027,539,2662,5099,...,2,2,8,11,18,196.9590,ILDT,dammam,eastern_province,4033007.517
3,682,2464,4089,7273,26611,42798,59421,682,2507,4093,...,0,1,3,13,14,129.5000,ILDT,other,eastern_province,3683833.046
4,754,2155,4225,6657,25903,56247,109079,798,2225,4436,...,2,2,2,5,11,113.4000,ILDT,jeddah,makkah_region,3500566.183

In [6]:
catogorical_data =df.select_dtypes(object)

In [26]:
numerical_data = df.drop(columns=['concept_type','city','region','target'])

In [27]:
numerical_data

,day_count_0_25,day_count_0_5,day_count_0_75,day_count_1_0,day_count_2_0,day_count_3_0,day_count_4_0,pop_count_0_25,pop_count_0_5,pop_count_0_75,...,pizza_restaurant_3_0,pizza_restaurant_4_0,restaurant_0_25,restaurant_0_5,restaurant_0_75,restaurant_1_0,restaurant_2_0,restaurant_3_0,restaurant_4_0,size
0,590,2022,3720,6944,24673,48211,64642,564,2006,3565,...,6,7,1,2,3,3,6,8,8,286.8573
1,427,1120,1949,3410,11167,20545,35977,250,907,1725,...,7,8,3,3,3,3,7,9,12,72.3200
2,532,2710,5176,10186,36727,68759,116027,539,2662,5099,...,6,11,1,1,2,2,8,11,18,196.9590
3,682,2464,4089,7273,26611,42798,59421,682,2507,4093,...,4,6,0,0,0,1,3,13,14,129.5000
4,754,2155,4225,6657,25903,56247,109079,798,2225,4436,...,7,9,1,2,2,2,2,5,11,113.4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,207,804,1508,2720,11182,32839,85779,156,675,1313,...,7,10,0,0,0,1,3,8,11,177.0000
112,227,1068,1966,3493,19812,41018,80113,143,936,1769,...,9,14,0,0,0,1,5,17,23,141.6000
113,75,213,259,305,1037,2656,4751,56,192,232,...,0,0,0,0,0,0,0,0,1,98.4000
114,2521,9010,13679,21983,63807,133657,194202,2649,10296,15131,...,14,23,0,0,0,1,7,11,21,153.0000
115,1005,1860,2656,3506,27794,81403,177378,633,1250,1827,...,6,10,2,5,5,5,6,6,11,45.1000

## Label encoding

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [12]:
for col in catogorical_data:
    le = LabelEncoder()
    catogorical_data[col]=le.fit_transform(catogorical_data[col])

In [13]:
catogorical_data

     concept_type  city  region
0               2     6       6
1               0     5       8
2               3     0       2
3               3     5       2
4               3     1       4
..            ...   ...     ...
111             1     0       2
112             0     0       2
113             0     5       6
114             3     6       6
115             0     1       4

[116 rows x 3 columns]

In [28]:
X = np.concatenate((numerical_data,catogorical_data),axis=1)

In [29]:
X.shape

(116, 123)

In [30]:
y = df['target']

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size = 0.2 , random_state = 100)

In [33]:
x_train

array([[6.590e+02, 1.402e+03, 3.040e+03, ..., 3.000e+00, 6.000e+00,
        6.000e+00],
       [8.720e+02, 1.788e+03, 3.238e+03, ..., 2.000e+00, 1.000e+00,
        4.000e+00],
       [1.945e+03, 4.185e+03, 7.516e+03, ..., 0.000e+00, 6.000e+00,
        6.000e+00],
       ...,
       [6.670e+02, 1.643e+03, 3.653e+03, ..., 1.000e+00, 6.000e+00,
        6.000e+00],
       [1.378e+03, 4.314e+03, 7.712e+03, ..., 0.000e+00, 4.000e+00,
        4.000e+00],
       [5.080e+02, 7.470e+02, 8.300e+02, ..., 0.000e+00, 3.000e+00,
        5.000e+00]])

In [34]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [35]:
y_lr_train_pred = lr.predict(x_train)
y_lr_test_pred = lr.predict(x_test)

In [36]:
from sklearn.metrics import mean_squared_error, r2_score
lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)

lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)

In [37]:
print("LR Train MSE: ",lr_train_mse)
print("LR Train R2: ",lr_train_r2)
print("LR Test MSE: ",lr_test_mse)
print("LR Test R2: ",lr_test_r2)

LR Train MSE:  1.1094339282731244e-08
LR Train R2:  1.0
LR Test MSE:  177858095288109.28
LR Test R2:  -15.782065210135531